.row
  .padded.four.sixths.skip-one
    .posts
      - @posts.each do |post|
        .post
          %h2.title
            = post.title.html_safe
          .byline
            Written  by
            %span.author_name
              = post.author.name
            on
            %span.published_date
              = post.published_at.strftime("%B #{post.published_at.day.ordinalize}, %Y")
          .post_body
            = post.body.html_safe

          %hr